In [134]:
import numpy as np
import pandas as pd

df = pd.read_csv("data.csv")
np.__version__

'1.23.3'

In [135]:
#  number of records in the dataset

#df.head()
len(df)

11914

In [136]:
#  most frequent car manufacturers

df.groupby(['Make'])['Model'].count().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Model, dtype: int64

In [137]:
#  number of unique Audi car models in the dataset

print(f"number of unique car models by Audi: ",df.groupby(['Make'])['Model'].unique()['Audi'].size)

number of unique car models by Audi:  34

In [138]:
#  columns in the dataset have missing values

# df.isnull().any()
# df.isnull().sum()

print(f"number of columns with null values: ", df.isnull().any().value_counts()[1])

number of columns with null values:  5

In [139]:
# task 6 -

print(f"median with null values: ",df['Engine Cylinders'].median())

most_frequent_ec = df['Engine Cylinders'].mode()
print(f"most frequent value in column 'Engine Cylinders': ",most_frequent_ec[0])

print(f"total null values in column 'Engine Cylinders': ",df['Engine Cylinders'].isna().sum())


df['Engine Cylinders'].fillna(most_frequent_ec[0], inplace = True)

print(f"median after replaceing null values with most frequent value: ", df['Engine Cylinders'].median())

median with null values:  6.0
most frequent value in column 'Engine Cylinders':  4.0
total null values in column 'Engine Cylinders':  30
median after replaceing null values with most frequent value:  6.0

In [140]:
# task 7 -

df2 = df[df.Make == 'Lotus']
df2 = df2[['Engine HP', 'Engine Cylinders']]
df2.drop_duplicates(inplace=True)
x = df2.to_numpy()

# xtx = x @ x.T
xtx = np.matmul(x.T, x)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])


xtx_invert = np.linalg.inv(xtx)
w = xtx_invert @ x.T
w = w @ y
print(f"the result is: ",w[0])

the result is:  4.594944810094551